<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scripture.title %>
</p>

<p class='col-sm-4'>
  <strong>Content:</strong>
  <pre><%= @scripture.content %></pre>
</p>

<p>
  <strong>Author:</strong>
  <%= @scripture.author %>
</p>

<p>
  <strong>User:</strong>
  <%= @scripture.user.email %>
</p>

<%= link_to 'Edit', edit_scripture_path(@scripture), :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', scriptures_path, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Add Another Text/Scripture', new_scripture_path, :class => 'btn btn-default btn-sm' %>

</div>
