<%= form_for(@programme) do |f| %>
  <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
<div class='col-md-4'>
  <div class="field">
    <% f.fields_for :programmeSong do |ps| %>
    <%= ps.label :songs %><br />
    <i> - hold Shift or Ctrl to select multiple </i><br />
    <%= ps.select :song_ids, options_for_select(
        @userSongs.map { |song|
        [song.title, song.id]
        }, @programme.programmeSong_ids ), {}, {:multiple => true, :class => "multi-select", :style => "width:300px; height: 300px;" } %>
    <% end %>

  </div>
</div>
<div class='col-md-4'>
  <div class="field">
    <%= f.label :scriptures %><br />
    <i> - hold Shift or Ctrl to select multiple </i><br />
    <%= f.select :scripture_ids, options_for_select(
        @userScriptures.map { |scripture|
        [scripture.title, scripture.id]
        }, @programme.scripture_ids ), {}, {:multiple => true, :class => "multi-select", :style => "width:300px; height: 300px;" } %>
  </div>
</div>
<div class='col-md-4'>
  <div class="field">
    <%= f.label :resources %><br />
    <i> - hold Shift or Ctrl to select multiple </i><br />
    <%= f.select :resource_ids, options_for_select(
        @userResources.map { |resource|
        [resource.title, resource.id]
        }, @programme.resource_ids ), {}, {:multiple => true, :class => "multi-select", :style => "width:300px; height: 300px;" } %>

  </div>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
