<div class='container'>
<p id="notice"><%= notice %></p>

<h1>Listing Programmes</h1>

<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= programme.title %></td>
        <td><%= programme.notes %></td>
        <td><%= link_to 'Open Programme', programme %></td>
        <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
        <td><%= link_to 'Delete', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programme', new_programme_path %>
</div>
