<script type='text/javascript'>
  hostWithPort = "<%= request.host_with_port() %>";
</script>

<div class='container'>
  <div class='row'>
    <div class='col-sm-3'>
      <h3><%= @programme.title %></h3>
    </div>

    <div class='col-sm-3'>
      <strong>Notes:</strong>
      <div class='panel'>
        <%= @programme.notes %>
      </div>
    </div>
    <div class='col-sm-2'>
      <a class="btn btn-default" id='loadProjectorWindow'>Open Projector Window</a>
    </div>
    <div class='col-sm-2'>
      <a class="btn btn-default" id='closeProjectorWindow'>Close Projector Window</a>
    </div>
    <div class='col-sm-2'>
      <a class="btn btn-default" id='goToBlack'>Blank Screen</a>
    </div>
  </div> <!-- /row -->

  <!-- Main control area -->
  <div class='row'>
    <div class='col-sm-3 panel' id='service_menu'>

      <strong>Songs:</strong>
      <% @programmeSongs.each do |pSong| %>
      <p class='song_scheduler'
         rel='<%= pSong.song_id %>'> <%= pSong.song.title %>
      </p>
      <% end %>
      <hr />

      <strong>Scriptures & Texts:</strong>
      <% @programmeScriptures.each do |pScripture| %>
      <p class='scripture_scheduler'
         rel='<%= pScripture.scripture_id %>'>
        <%= pScripture.scripture.title %>
      </p>
      <% end %>

    </div>

    <div class='col-sm-3'>
      <div class='panel' id='slides'>


      </div>
    </div>
    <div class='col-sm-4'>
      <div id="cloneWindowBody">
        <div id="cloneWinVidContainer">

        </div>
        <div id="cloneProjContentContainer">
          <div id="clone_lyric_block">
          </div>
        </div>
      </div>

      <div class='row panel'>
        <div class='col-sm-5'>
          <label>Font Color</label>
        </div>
        <div class='col-sm-3'>
          <input type="text" id='font_color' />
        </div>
        <div class='col-sm-3'>
          <a id='set_projector_font_color' class='btn btn-default'>Set Font Color</a></div>
      </div>

      <div class='row panel'>
        <div class='col-sm-5'>
          <label>Background Color</label>
        </div>
        <div class='col-sm-3'>
          <input type="text" id='projector_bg_color' />
        </div>
        <div class='col-sm-3'>
          <a id='set_projector_bg_color' class='btn btn-default'>Set BG Color</a>
        </div>
      </div>

      <div class='row panel'>
        <div class='col-sm-5'>
          <label>Background Opacity</label>
        </div>
        <div class='col-sm-3'>
          <input type="text" id='projector_opacity' size='1' />%
        </div>
        <div class='col-sm-3'>
          <a id='set_projector_opacity' class='btn btn-default'>Set Opacity</a>
        </div>
      </div>

      <div class='row panel'>
        <div class='col-sm-5'>
          <label>Font</label>
        </div>
        <div class='col-sm-3'>
          <input type="text" id='set_font_family' size='8' />
          <br />
          <br />
          <input type="text" id='set_font_size' size='2' />
        </div>
        <div class='col-sm-3'>
          <a id='set_font_btn' class='btn btn-default'>Set Font</a>
          <br />
          <br />
          <a id='set_font_size_btn' class='btn btn-default'>Set Font Size</a>

        </div>
      </div>

    </div>

  </div> <!-- /row -->

  <div class='row'>
    <p>
      <strong>Media Resources:</strong>
      <div class='container-fluid panel'>
        <a class='clear-background btn btn-default' >Clear Background</a><br />
        <p><br /></p>
        <% @programme.resources.in_groups_of(4).each do |resourceRow| %>
        <% resourceRow.select! {|x| !x.nil?} %>
        <div class="row">
          <% resourceRow.each do |resource| %>
          <div class='col-sm-2'>
            <a class='media-chooser' rel='<%= resource.id %>' >
              <% if resource.resourceType == 'video/mp4' %>
              <video width="128" rel='<%= resource.id %>' >
                <source src="<%= resource.location %>" type="video/mp4">
                    Your browser does not support the video tag.
              </video>
              <% else %>
              <img src="<%= resource.location %>" rel='<%= resource.id %>' />
              <% end %>
              <br />
              <%= resource.title %></a>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    <p>
  </div>
  <strong>User:</strong>
  <%= @programme.user.email %>
</p>

<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
</div>
