<div class='panel panel-default'>
  <div class='panel-body'>
    <%= form_for(@admin_user, :url => admin_update_path ) do |f| %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    <% end %>
  </div>
</div>
