<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resource.location %>
</p>

<p>
  <strong>Resourcetype:</strong>
  <%= @resource.resourceType %>
</p>

<p>
  <strong>Attribution:</strong>
  <%= @resource.attribution %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user.email %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource), :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', resources_path, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'New Resource', new_resource_path, :class => 'btn btn-default btn-sm' %>

</div>
